.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  display: block;
}

.hidden {
  display: none;
}

#apptitle {
  font-size: 7vh;
}

.cvapp {
  display: grid;
  justify-items: center;
  gap: 12px;
}

#cvgeneral {
  display: grid;
}


#resume {
  width: 60vw;
  display: grid;
  justify-items: center;
  gap: 4vh
}

#cvnameline {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-items: center;
}

#cvfirst {
  justify-self: end;
  font-size: 5vh;
}

#cvlast {
  justify-self: start;
  font-size: 5vh;
}

#cvcontactline {
  justify-self: center;
  display: grid;
}

#cvaddress, #cvphone, #cvemail {
  justify-self: center;
}

#cveducation {
  display: grid;
}

#cvwork {
  display: grid;
}

#edtitle, #worktitle {
  font-size: 3vh;
  justify-self: center;
}

.edulist {
  display: grid;
  gap: 5px;
}

.edufirst {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
}

.cvedudates {
  display: grid;
  grid-auto-flow: column;
}

.cvedustart {
  justify-self: end;
}

.edudash {
  width: min-content;
  justify-self: center;
}

.cveduend {
  justify-self: start;
}

.worklist {
  display: grid;
  gap: 5px;
}

.workfirst {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
}

.cvworkdates {
  display: grid;
  grid-auto-flow: column;
}

.cvworkstart {
  justify-self: end;
}

.workdash {
  width: min-content;
  justify-self: center;
}

.cvworkend {
  justify-self: start;
}



#gentitle {
  font-size: 2.5vh;
}


#genformfirst, #genformsecond, #genformthird, #genformfourth {
  display: grid;
  grid-auto-flow: column;
  gap: 3px;
}

#genformbtn {
  width: 90px;
}






